---
import construccion from "../assets/construccion.png";
---

<!-- Nosotros -->
<section
  id="nosotros"
  class="flex flex-col lg:flex-row justify-center items-center gap-8 sm:gap-10 max-w-6xl mx-auto py-12 sm:py-16 px-4 sm:px-6"
>
  <img src={construccion.src} class="w-64 sm:w-72 md:w-80 lg:w-[420px]" />
  <div class="max-w-lg text-center lg:text-left">
    <h3 class="text-2xl sm:text-3xl font-bold text-nav-bg mb-4">
      ¿Quiénes somos?
    </h3>
    <p
      class="leading-relaxed text-texto mb-6 font-semibold text-sm sm:text-base"
    >
      Frontend nace con el compromiso de fortalecer el ecosistema del desarrollo
      de software en el Perú, integrando la cultura del Perú con la innovación
      tecnológica. Queremos representar el crecimiento digital del país sin
      perder nuestras raíces, inspirándonos en los elementos que definen la
      identidad peruana en su esencia más auténtica.
    </p>
    <a
      href="/"
      class="inline-block border-2 border-nav-bg px-6 py-3 rounded-full text-nav-bg font-bold hover:bg-nav-bg hover:text-background transition uppercase text-sm sm:text-base"
    >
      formar parte
    </a>
  </div>
</section>
