---
import fond2 from "../assets/fondo2.png";
---

<!-- auspicio -->
<section
  class="flex flex-col relative justify-center items-center gap-4 w-full overflow-hidden py-12 sm:py-16"
>
  <!-- Fondo -->
  <img
    src={fond2.src}
    class="absolute inset-0 w-full h-full object-cover z-0"
  />

  <h2
    class="text-2xl sm:text-3xl font-bold mb-8 sm:mb-12 z-10 text-center px-4 sm:px-6"
  >
    Programa de auspicio
  </h2>

  <div
    class="relative z-10 flex flex-col lg:flex-row gap-6 sm:gap-8 justify-center px-4 sm:px-6"
  >
    <!-- 3 Meses -->
    <div
      class="w-full max-w-[278px] h-auto min-h-[290px] bg-texto border-[4px] border-secondary rounded-2xl p-4 sm:p-6 flex flex-col items-center text-center"
    >
      <div
        class="flex items-center justify-center bg-secondary text-texto font-bold py-2 px-4 sm:px-6 w-full max-w-[168px] h-[34px] rounded-[90px] -mt-[42px] uppercase text-xs sm:text-sm"
      >
        3 meses
      </div>
      <div class="mt-6 mb-4">
        <div
          class="bg-secondary text-texto text-2xl sm:text-[32px] font-bold flex items-center justify-center w-[80px] h-[50px] sm:w-[106px] sm:h-[66px] rounded-[90px]"
        >
          $0
        </div>
      </div>
      <ul
        class="w-full max-w-[230px] text-xs text-text-secundary space-y-2 sm:space-y-3 mb-6 flex flex-col"
      >
        <li>
          Publicación del logo de su empresa en medios web y anuncios del evento
          en nuestros canales.
        </li>
        <li>Tamaño de Logo: S</li>
      </ul>
      <div class="mt-auto">
        <button
          class="bg-secondary text-texto text-xs font-bold w-[99px] h-[39px] rounded-[28px] uppercase hover:bg-nav-bg hover:text-secondary transition"
          >patrocinar
        </button>
      </div>
    </div>

    <!-- 6 Meses -->
    <div
      class="w-full max-w-[278px] h-auto min-h-[491px] bg-texto border-[4px] border-nav-bg rounded-2xl p-4 sm:p-6 flex flex-col items-center text-center"
    >
      <div
        class="bg-nav-bg text-secondary font-bold w-full max-w-[168px] h-[34px] rounded-[90px] -mt-[42px] uppercase text-center flex items-center justify-center text-xs sm:text-sm"
      >
        6 meses
      </div>
      <div class="mt-6 mb-4">
        <div
          class="bg-nav-bg text-secondary text-2xl sm:text-[32px] font-bold flex items-center justify-center w-[80px] h-[50px] sm:w-[106px] sm:h-[66px] rounded-[90px]"
        >
          $0
        </div>
      </div>
      <ul
        class="w-full max-w-[230px] text-xs text-text-secundary space-y-2 mb-4 flex flex-col"
      >
        <li>
          Publicación del logo de su empresa en medios web y anuncios del evento
          en nuestros canales.
        </li>
        <li>Tamaño de Logo: M</li>
        <li>
          Impresión del logo en polos del grupo (parte trasera, por edición).
        </li>
        <li>Presentación de la empresa durante el meetup: 2 min.</li>
        <li>
          Difusión de publicidad (merchandising, afiches, volantes, etc.).
        </li>
        <li>Sorteos de productos/servicios de auspiciadores.</li>
        <li>Menciones de agradecimiento en apertura y cierre.</li>
      </ul>
      <div class="mt-auto">
        <button
          class="w-[99px] h-[39px] text-xs bg-nav-bg text-secondary font-bold rounded-[28px] uppercase hover:bg-frontend hover:text-secondary transition"
          >patrocinar</button
        >
      </div>
    </div>

    <!-- 1 año -->
    <div
      class="w-full max-w-[278px] h-auto min-h-[551px] bg-texto border-[4px] border-frontend rounded-2xl p-4 sm:p-6 flex flex-col items-center text-center"
    >
      <div
        class="flex items-center justify-center bg-frontend text-secondary font-bold py-2 px-4 sm:px-6 w-full max-w-[168px] h-[34px] rounded-[90px] -mt-[42px] uppercase text-xs sm:text-sm"
      >
        1 año
      </div>
      <div class="mt-6 mb-4">
        <div
          class="bg-frontend text-secondary text-2xl sm:text-[32px] font-bold flex items-center justify-center w-[80px] h-[50px] sm:w-[106px] sm:h-[66px] rounded-[90px]"
        >
          $0
        </div>
      </div>
      <ul
        class="w-full max-w-[230px] text-xs text-text-secundary space-y-2 mb-4 flex flex-col"
      >
        <li>
          Publicación del logo de su empresa en medios web y anuncios del evento
          en nuestros canales.
        </li>
        <li>Tamaño de Logo: L</li>
        <li>
          Impresión del logo en polos del grupo (parte trasera, por edición).
        </li>
        <li>Cantidad de banners en la instalación del evento: 1.</li>
        <li>Sesión de 25 min en el evento de negocios o desarrollo.</li>
        <li>Presentación de la empresa durante el meetup: 5 min.</li>
        <li>
          Difusión de publicidad (merchandising, afiches, volantes, etc.).
        </li>
        <li>Sorteos de productos/servicios de auspiciadores.</li>
        <li>Menciones de agradecimiento en apertura y cierre.</li>
      </ul>
      <div class="mt-auto">
        <button
          class="w-[99px] h-[39px] text-xs bg-frontend text-secondary font-bold rounded-[28px] uppercase hover:bg-secondary hover:text-texto transition"
          >patrocinar</button
        >
      </div>
    </div>
  </div>
</section>
