@import "custom-bootstrap";

// $test_color: (#00FF00;
$test_color: var(--bs-danger);

h1 {
  color: $test_color;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 5px;

  @include media-breakpoint-down(sm) {
    color: red;
  }
}
